In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:

with open("nba_2013.csv",'r') as csvfile:
    df = pd.read_csv(csvfile)

In [23]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [24]:
df.tail()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
476,Tony Wroten,SG,20,PHI,72,16,1765,345,808,0.427,...,159,228,217,78,16,204,151,939,2013-2014,2013
477,Nick Young,SG,28,LAL,64,9,1810,387,889,0.435,...,137,166,95,46,12,95,156,1144,2013-2014,2013
478,Thaddeus Young,PF,25,PHI,79,78,2718,582,1283,0.454,...,310,476,182,167,36,165,213,1417,2013-2014,2013
479,Cody Zeller,C,21,CHA,82,3,1416,172,404,0.426,...,235,353,92,40,41,87,170,490,2013-2014,2013
480,Tyler Zeller,C,24,CLE,70,9,1049,156,290,0.538,...,179,282,36,18,38,60,137,399,2013-2014,2013

In [25]:
df.shape

(481, 31)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [27]:
# Checking for Nan Values
df.isna().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [28]:
#handling Nan Values
df['efg.'].fillna(df['efg.'].median(),inplace=True)
df['ft.'].fillna(df['ft.'].median(),inplace=True)
df['fg.'].fillna(df['fg.'].median(),inplace=True)
df['x3p.'].fillna(df['x3p.'].median(),inplace=True)
df['x2p.'].fillna(df['x2p.'].median(),inplace=True)

In [29]:
#Dropping the unnecessary features
df.drop('player',axis=1,inplace=True)
df.drop('bref_team_id',axis=1,inplace=True)
df.drop('season',axis=1,inplace=True)
df.drop('season_end', axis=1, inplace=True)

In [30]:
#Encoding

In [31]:
df2 = pd.concat([df,pd.get_dummies(nba['pos'],drop_first=True)],axis=1)

In [36]:
df2.drop('pos',axis=1,inplace=True)

In [43]:
X = df2.drop('pts',axis=1)
y = df2['pts']

#Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)


from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)


from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
knr.fit(x_train,y_train)

KNeighborsRegressor()

In [45]:
knr.score(x_test,y_test)

0.9610799714089038

In [46]:
y_pred = knr.predict(x_test)

In [47]:
x_train

array([[-0.83677633,  0.26669283,  1.09452855, ...,  2.1584308 ,
        -0.50907986, -0.54130468],
       [-0.35989314,  0.97825725,  1.76957436, ...,  2.1584308 ,
        -0.50907986, -0.54130468],
       [-0.35989314, -0.28674616,  0.68950106, ...,  2.1584308 ,
        -0.50907986, -0.54130468],
       ...,
       [ 0.35543165,  0.02950469,  0.95951938, ..., -0.46329954,
        -0.50907986, -0.54130468],
       [ 1.78608123, -0.60299701, -0.86310432, ..., -0.46329954,
         1.96432835, -0.54130468],
       [-0.83677633, -1.82846907, -0.86310432, ..., -0.46329954,
         1.96432835, -0.54130468]])